.App {
  text-align: center;
}

.header_img {
  width: 100%;
  background: url("./banner.jpg");
  background-size: 70vw 61vh;
  background-repeat: no-repeat;
  height: 61vh;
}

.header_text {
  position: absolute;
  top:0;
  right: 0;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 59%,  rgba(255,255,255,1) 100%);
  width: 70vw;
  height: 61vh;
  padding: 16vh 0 0 35vw;
  text-align: left;
}

.causeText::after{
  position: absolute;
  height: 0.2rem;
  width: 2rem;
  content: '';
  background-color: #1976d2;
  bottom: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
}